# dependencies
/node_modules

/mongo-volume
/image-volume

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

.env
.env.production
.env.development
mongo-init.js

.DS_STORE
.gitsecret/keys/random_seed
!*.secret
